.block-search {
    border: 0;
    border-bottom: 1px color(primary, light) solid !important;

    #search-block-form {
        gap: 0 12px;
        display: block;
        border-radius: 999px;
        padding: 5px 20px;
        background-color: white;
        [id*="field__edit-keys"] {
            gap: 0 12px;
            input {
                width: 100%;
                color: color(primary, base);
                @include toRem(font-size, 14);
                outline: none;
                &::-ms-input-placeholder {
                    font-style: italic;
                    color: color(primary, light);
                }
    
                &::placeholder {
                    font-style: italic;
                    color: color(primary, light);
                }
    
                &::-ms-clear {
                    display: none;
                    width: 0;
                    height: 0;
                }
    
                &::-ms-reveal {
                    display: none;
                    width: 0;
                    height: 0;
                }
    
                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button,
                &::-webkit-search-results-button,
                &::-webkit-search-results-decoration {
                    display: none;
                }
            }
        }
        button {
            color: color(primary, light);
        }
        button,
        input {
            border: 0;
            padding: 0;
            margin: 0;
            background-color: transparent;
        }
    }    
}